:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: black;
    background-color: whitesmoke;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

.bouncing-blob {
    width: 32vw;
    aspect-ratio: 1;
    border-radius: 50%;
    will-change: transform;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transform-origin: left top;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.bouncing-blob--blue {
    background: #4783c7;
}

.bouncing-blob--white {
    background: #ffffff;
    z-index: 2;
    width: 15vw;
}

.bouncing-blob--purple {
    background: #8c8ff1;
}

.bouncing-blob--pink {
    background: #e289cd50;
}

.bouncing-blobs-container {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bouncing-blobs-glass {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(140px);
    -webkit-backdrop-filter: blur(140px);
    pointer-events: none;
}

.bouncing-blobs {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.profile {
    display: flex;
}

.biodata {
    width: 570px;
    padding: 30px;
    padding-left: 60px;
    margin-top: 50px;
    background: rgba(133, 133, 133, 0.2);
    box-shadow: rgba(194, 139, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.sapa {
    display: flex;
}

.hero .profile .biodata .sapa h2 {
    margin-top: 40px;
    color: #818286;

}

.hero .profile .biodata p {
    margin-top: -50px;
    margin-bottom: 40px;
    text-align: left;
    font-size: large;
    color: #fff;
}

.sapa img {
    width: 120px;
    height: 120px;
    margin-left: -10px;
}

.sd {
    margin-bottom: -10px;
}

.foto {
    width: 300px;
    height: 300px;
    margin-top: 120px;
    margin-left: -100px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: rgba(62, 63, 168, 0.8) 0px 10px 30px 8px, rgba(62, 63, 168, 0.8) 0px 0px 0px 2px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.deskripsi2 {
    display: flex;
    flex-direction: row-reverse;
    gap: 150px;
    margin-left: 70px;
    margin-bottom: 90px;
}

.deskripsi2 .foto-deskripsi {
    align-items: center;
    padding-top: 10%;
}

.deskripsi2 .foto-deskripsi img {
    width: 250px;
    height: 250px;
}

.deskripsi2 .foto-deskripsi .foto-1 {
    padding-top: 20px;

}

.deskripsi2 .foto-deskripsi .foto-2 {
    position: absolute;
    margin-left: -350px;
    margin-top: -30px;
}

.deskripsi2 .foto-deskripsi .foto-3 {
    position: absolute;
    margin-left: -150px;
    margin-top: 60px;
}

.deskripsi2 .deskripsi-2 {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: -200px;
}

.deskripsi2 .deskripsi-2 h3 {
    margin-top: -10px;
    color: #5f5454;
}

.deskripsi2 .deskripsi-2 h2 {
    margin-top: -20px;
    font-size: 50px;
    text-align: left;
    align-items: normal;

}

.hero .deskripsi2 .deskripsi-2 p {
    text-align: justify;
    font-size: 20px;
    width: 650px;
    max-width: 650px;
}

.foto-profile {
    width: 300px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.deskripsi {
    display: flex;
    gap: 150px;
    margin-left: 70px;
    margin-bottom: 90px;
}

.deskripsi .foto-deskripsi {
    align-items: center;
    padding-top: 10%;
}

.deskripsi .foto-deskripsi img {
    width: 250px;
    height: 250px;
}

.deskripsi .foto-deskripsi .foto-1 {
    padding-top: 20px;

}

.deskripsi .foto-deskripsi .foto-2 {
    position: absolute;
    margin-left: -350px;
    margin-top: -30px;
}

.deskripsi .foto-deskripsi .foto-3 {
    position: absolute;
    margin-left: -150px;
    margin-top: 60px;
}

.deskripsi .deskripsi-2 {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.deskripsi .deskripsi-2 h3 {
    margin-top: -10px;
    color: #5f5454;
}

.deskripsi .deskripsi-2 h2 {
    margin-top: -20px;
    font-size: 50px;
    text-align: left;
    align-items: normal;

}

.hero .deskripsi .deskripsi-2 p {
    text-align: justify;
    font-size: 20px;
    width: 650px;
    max-width: 650px;
}

.hero h2 {
    font-size: 70px;
    max-width: 800px;
    line-height: 1;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    color: #021123;
}

.hero p {
    font-size: 24px;
    margin-top: -20px;
    max-width: 500px;
    text-align: center;
    color: #021123;
}

@media (max-width: 1200px) {
    .bouncing-blobs-glass {
        backdrop-filter: blur(120px);
        -webkit-backdrop-filter: blur(120px);
    }
}

@media (max-width: 500px) {
    .bouncing-blob {
        width: 60vw;
    }

    .bouncing-blob--white {
        width: 30vw;
    }

    .bouncing-blobs-glass {
        backdrop-filter: blur(90px);
        -webkit-backdrop-filter: blur(90px);
    }

    .hero h2 {
        font-size: 32px;
    }

    .hero p {
        font-size: 16px;
        padding: 0 20px;
    }
}

.popup {
    display: block;
    width: 70%;
    inset: 0;
    z-index: 20;
    animation: openPopup 0.6s ease-in-out 1 normal;
    -webkit-animation: openPopup 0.6s ease-in-out 1 normal;
}

@keyframes openPopup {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.popup-container {
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%);
    -ms-transform: translate(-50%);
    width: min(900px, 90%);
    background: rgba(133, 133, 133, 0.2);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 12px;
    color: #fff;
    z-index: 30;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
}

.popup-header {
    position: relative;
    display: flex;
    gap: 8px;
    font-weight: 600;
    padding: 15px 20px 10px;
    font-size: 1.2rem;
}

.popup-body {
    color: #f7f7f7;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 30px 50px;
}

.popup.maximized .popup-body {
    height: 100vh;
}

.button-container {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.circle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 0;
    outline: 0;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.2s;
}

.circle-btn i {
    opacity: 0;
    transition: all 0.2s;
    font-size: 0.5rem;
    color: rgb(65, 66, 67);
}

.circle-btn:hover {
    opacity: 1;
    transform: scale(1.03);
}

.button-container:hover i {
    opacity: 1;
}

/* .button-container:hover i:hover,
  .button-container:hover i:hover:nth-child(2),
  .button-container:hover i:hover:nth-child(3) {
    opacity: 1;
  } */

.red {
    background-color: rgb(255, 96, 92);
}

.red i {
    font-size: 0.8rem;
}

.yellow {
    background-color: rgb(255, 189, 68);
}

.yellow i {
    transform: translateY(-3px);
}

.green {
    background-color: rgb(0, 202, 78);
}

.green i {
    transform: rotate(90deg);
}

/* --------- */
/* SCROLLBAR */

.popup-body::-webkit-scrollbar {
    width: 0.7rem;
}

.popup-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.375rem rgb(79, 78, 78);
    border-radius: 0.8rem;
}

.popup-body::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0.375rem rgba(238, 238, 238, 0.9);
    outline: none;
    border-radius: 0.8rem;
}

/* ------ */
/* ABOUT */

.about-container {
    display: flex;
    gap: 30px;
    place-items: center;
}

.about-container h1 {
    margin-bottom: 20px;
    margin-top: -10px;
    line-height: 1.4;
}

.about-container p {
    line-height: 1.4;
    text-align: left;
    font-size: 1.1rem;
}

.upload-file {
    width: 390px;
    margin-bottom: 20px;
    height: 70px;
    border: 4px dashed #564ada;
}

.upload-file input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
}

.upload-file p {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 110px;
    color: #ffffff;
    font-family: Arial;
}

a {
    text-align: center;
    text-decoration: none;
    font-size: 13px;
}

.custom-a {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

/* 6 */
.a-6 {
    background: rgb(247, 150, 192);
    background: radial-gradient(circle, rgba(247, 150, 192, 1) 0%, rgba(118, 174, 241, 1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
}

.a-6 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.a-6:before,
.a-6:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 1px;
    box-shadow:
        -1px -1px 20px 0px rgba(255, 255, 255, 1),
        -4px -4px 5px 0px rgba(255, 255, 255, 1),
        7px 7px 20px 0px rgba(0, 0, 0, .4),
        4px 4px 5px 0px rgba(0, 0, 0, .3);
}

.a-6:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
}

.a-6:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
}

.a-6:hover {
    background: transparent;
    color: #76aef1;
    box-shadow: none;
}

.a-6:hover:before {
    transition: all 500ms ease;
    height: 100%;
}

.a-6:hover:after {
    transition: all 500ms ease;
    height: 100%;
}

.a-6 span:before,
.a-6 span:after {
    position: absolute;
    content: "";
    box-shadow:
        -1px -1px 20px 0px rgba(255, 255, 255, 1),
        -4px -4px 5px 0px rgba(255, 255, 255, 1),
        7px 7px 20px 0px rgba(0, 0, 0, .4),
        4px 4px 5px 0px rgba(0, 0, 0, .3);
}

.a-6 span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
}

.a-6 span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
}

.a-6 span:hover:before {
    width: 100%;
}

.a-6 span:hover:after {
    width: 100%;
}



.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

/* 7 */
.btn-7 {
    background: linear-gradient(0deg, rgba(255, 151, 0, 1) 0%, rgba(251, 75, 2, 1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
}

.btn-7 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-7:before,
.btn-7:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgba(251, 75, 2, 1);
    box-shadow:
        -7px -7px 20px 0px rgba(255, 255, 255, .9),
        -4px -4px 5px 0px rgba(255, 255, 255, .9),
        7px 7px 20px 0px rgba(0, 0, 0, .2),
        4px 4px 5px 0px rgba(0, 0, 0, .3);
    transition: all 0.3s ease;
}

.btn-7:before {
    height: 0%;
    width: 2px;
}

.btn-7:after {
    width: 0%;
    height: 2px;
}

.btn-7:hover {
    color: rgba(251, 75, 2, 1);
    background: transparent;
}

.btn-7:hover:before {
    height: 100%;
}

.btn-7:hover:after {
    width: 100%;
}

.btn-7 span:before,
.btn-7 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgba(251, 75, 2, 1);
    box-shadow:
        -7px -7px 20px 0px rgba(255, 255, 255, .9),
        -4px -4px 5px 0px rgba(255, 255, 255, .9),
        7px 7px 20px 0px rgba(0, 0, 0, .2),
        4px 4px 5px 0px rgba(0, 0, 0, .3);
    transition: all 0.3s ease;
}

.btn-7 span:before {
    width: 2px;
    height: 0%;
}

.btn-7 span:after {
    height: 2px;
    width: 0%;
}

.btn-7 span:hover:before {
    height: 100%;
}

.btn-7 span:hover:after {
    width: 100%;
}


/* 8 */
.btn-8 {
    background-color: #f0ecfc;
    background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
    line-height: 42px;
    padding: 0;
    border: none;
}

.btn-8 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-8:before,
.btn-8:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #c797eb;
    transition: all 0.3s ease;
}

.btn-8:before {
    height: 0%;
    width: 2px;
}

.btn-8:after {
    width: 0%;
    height: 2px;
}

.btn-8:hover:before {
    height: 100%;
}

.btn-8:hover:after {
    width: 100%;
}

.btn-8:hover {
    background: transparent;
}

.btn-8 span:hover {
    color: #c797eb;
}

.btn-8 span:before,
.btn-8 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #c797eb;
    transition: all 0.3s ease;
}

.btn-8 span:before {
    width: 2px;
    height: 0%;
}

.btn-8 span:after {
    height: 2px;
    width: 0%;
}

.btn-8 span:hover:before {
    height: 100%;
}

.btn-8 span:hover:after {
    width: 100%;
}


.about-container .img-frame {
    overflow: hidden;
    width: 220px;
    height: 220px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: rgba(62, 63, 168, 0.8) 0px 10px 30px 8px,
        rgba(62, 63, 168, 0.8) 0px 0px 0px 2px;
}

.about-container .img-frame img {
    aspect-ratio: 6/7;
    object-fit: cover;
    transition: transform 0.75s;
    -webkit-transition: transform 0.75s;
    -moz-transition: transform 0.75s;
    -ms-transition: transform 0.75s;
    -o-transition: transform 0.75s;
}

.about-container .img-frame:hover img {
    transform: rotate(4deg) scale(0.75);
    -webkit-transform: rotate(4deg) scale(0.75);
    -moz-transform: rotate(4deg) scale(0.75);
    -ms-transform: rotate(4deg) scale(0.75);
    -o-transform: rotate(4deg) scale(0.75);
}

@media (max-width: 900px) {
    .popup-body {
        padding: 30px;
    }

    .about-container {
        display: flex;
        flex-direction: column;
    }

    .deskripsi {
        width: 900px;
    }

    .hero .deskripsi .foto-deskripsi {
        margin-left: 60px;
    }

    .hero .deskripsi .deskripsi-2 p {
        text-align: justify;
        font-size: 15px;
        width: 420px;
        max-width: 420px;
    }

    .deskripsi2 {
        width: 900px;
        margin-left: -110px;
    }

    .hero .deskripsi2 .deskripsi-2 p {
        text-align: justify;
        font-size: 15px;
        width: 420px;
        max-width: 420px;
    }

}

@media (max-width: 750px) {
    .about-container {

        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 4fr;
        grid-template-areas:
            "img-frame"
            "hero-content";
        padding: 160px 30px 50px;
    }

    .about-container .img-frame {
        grid-area: img-frame;
        width: 230px;
        aspect-ratio: 1/1;
    }

    .hero-content {
        grid-area: hero-content;
        margin-top: 110px;
        text-align: center;
    }

    .about-container h1 {
        margin-bottom: 16px;
    }
}

@media (max-width: 600px) {
    .card {
        height: 280px;
    }

    .deskripsi2 {
        display: flex;
        flex-direction: column;
        margin-left: 70px;
    }

    .deskripsi2 .foto-deskripsi {
        width: 200px;
        align-self: center;
    }

    .deskripsi2 .foto-deskripsi img {
        width: 180px;
        height: 180px;
    }

    .deskripsi2 .foto-deskripsi img {
        width: 180px;
        height: 180px;

    }

    .deskripsi2 .foto-deskripsi .foto-1 {
        margin-left: -20px;
        margin-right: 0px;
    }

    .deskripsi2 .foto-deskripsi .foto-2 {
        margin-left: -230px;
        margin-right: 0px;
    }

    .deskripsi2 .deskripsi-2 {
        width: 270px;
        margin-left: -120px;
        align-self: center;
        text-align: left;
    }

    .deskripsi2 .foto-deskripsi .foto-3 {
        margin-left: -130px;
        margin-right: 0px;
    }

    .hero .deskripsi2 .deskripsi-2 h2 {
        margin-left: -5px;
    }

    .hero .deskripsi2 .deskripsi-2 p {
        text-align: justify;
        margin-left: -20px;
        font-size: 15px;
        width: 320px;
        max-width: 320px;
    }

    .deskripsi {
        display: flex;
        flex-direction: column;
    }

    .deskripsi .foto-deskripsi {
        width: 200px;
        align-self: center;
    }

    .deskripsi .foto-deskripsi img {
        width: 180px;
        height: 180px;
    }

    .deskripsi .foto-deskripsi img {
        width: 180px;
        height: 180px;

    }

    .deskripsi .foto-deskripsi .foto-1 {
        margin-left: -60px;
        margin-right: 0px;
    }

    .deskripsi .foto-deskripsi .foto-2 {
        margin-left: -230px;
        margin-right: 0px;
    }

    .deskripsi .deskripsi-2 {
        width: 270px;
        margin-left: -120px;
        align-self: center;
        text-align: left;
    }

    .deskripsi .foto-deskripsi .foto-3 {
        margin-left: -130px;
        margin-right: 0px;
    }

    .hero .deskripsi .deskripsi-2 h2 {
        margin-left: -5px;
    }

    .hero .deskripsi .deskripsi-2 p {
        text-align: justify;
        margin-left: -20px;
        font-size: 15px;
        width: 320px;
        max-width: 320px;
    }


    .profile {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        align-content: center;
        padding: 0px;
    }

    .sd {
        margin-bottom: -80px;
    }

    .profile .biodata {
        width: 300px;
    }

    .foto {
        margin-left: 0px;
    }

    .profile .biodata p {
        display: none;
    }

    .profile.biodata.sapa {
        display: flex;
        flex-direction: column;
        text-align: center;

    }

    .popup-container {
        width: 400px;
    }

    .about-container .img-frame {
        grid-area: img-frame;
        margin-top: -120px;
        margin-bottom: -100px;
        width: 220px;
        aspect-ratio: 1/1;
        object-fit: cover;
    }


    .about-container .hero-content p {
        text-align: center;
    }

    .about-container .hero-content .upload-file {
        width: 270px;
    }

    .about-container .hero-content .upload-file p {
        margin-left: -20px;
    }

    .about-container .hero-content .tombol {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

@media (max-width: 390px) {
    .profile {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        align-content: center;
        padding: 0px;
    }

    .deskripsi2 {
        display: flex;
        flex-direction: column;
    }

    .deskripsi2 .foto-deskripsi {
        width: 200px;
        align-self: center;
    }

    .deskripsi2 .foto-deskripsi img {
        width: 180px;
        height: 180px;
    }

    .deskripsi2 .foto-deskripsi img {
        width: 180px;
        height: 180px;

    }

    .deskripsi2 .foto-deskripsi .foto-1 {
        margin-left: -20px;
        margin-right: 0px;
    }

    .deskripsi2 .foto-deskripsi .foto-2 {
        margin-left: -230px;
        margin-right: 0px;
    }

    .deskripsi2 .deskripsi-2 {
        width: 270px;
        margin-left: -120px;
        align-self: center;
        text-align: left;
    }

    .deskripsi2 .foto-deskripsi .foto-3 {
        margin-left: -130px;
        margin-right: 0px;
    }

    .hero .deskripsi2 .deskripsi-2 h2 {
        margin-left: -5px;
    }

    .hero .deskripsi2 .deskripsi-2 p {
        text-align: justify;
        margin-left: -20px;
        font-size: 15px;
        width: 320px;
        max-width: 320px;
    }

    .deskripsi {
        display: flex;
        flex-direction: column;
    }

    .deskripsi .foto-deskripsi {
        width: 200px;
        align-self: center;
    }

    .deskripsi .foto-deskripsi img {
        width: 180px;
        height: 180px;
    }

    .deskripsi .foto-deskripsi img {
        width: 180px;
        height: 180px;

    }

    .deskripsi .foto-deskripsi .foto-1 {
        margin-left: -60px;
        margin-right: 0px;
    }

    .deskripsi .foto-deskripsi .foto-2 {
        margin-left: -230px;
        margin-right: 0px;
    }

    .deskripsi .deskripsi-2 {
        width: 270px;
        margin-left: -120px;
        align-self: center;
        text-align: left;
    }

    .deskripsi .foto-deskripsi .foto-3 {
        margin-left: -130px;
        margin-right: 0px;
    }

    .hero .deskripsi .deskripsi-2 h2 {
        margin-left: -5px;
    }

    .hero .deskripsi .deskripsi-2 p {
        text-align: justify;
        margin-left: -20px;
        font-size: 15px;
        width: 320px;
        max-width: 320px;
    }


    .sd {
        margin-bottom: -80px;
    }

    .profile .biodata {
        width: 270px;
    }

    .foto {
        margin-left: 0px;
    }

    .profile .biodata p {
        display: none;
    }

    .profile.biodata.sapa {
        display: flex;
        flex-direction: column;
        text-align: center;

    }

    .popup-container {
        width: 360px;
    }

    .about-container .img-frame {
        grid-area: img-frame;
        margin-top: -120px;
        margin-bottom: -100px;
        width: 220px;
        aspect-ratio: 1/1;
        object-fit: cover;
    }


    .about-container .hero-content p {
        text-align: center;
    }

    .about-container .hero-content .upload-file {
        width: 270px;
    }

    .about-container .hero-content .upload-file p {
        margin-left: -20px;
    }

    .about-container .hero-content .tombol {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}